@charset "UTF-8";
@font-face {
  font-family: 'Franklin Gothic DemiI';
  src: url("../fonts/FranklinGothic-DemiItalic.woff2") format("woff2"), url("../fonts/FranklinGothic-DemiItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Franklin GothicHI';
  src: url("../fonts/FranklinGothic-HeavyItalic.woff2") format("woff2"), url("../fonts/FranklinGothic-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Franklin Gothic Book';
  src: url("../fonts/FranklinGothic-Book.woff2") format("woff2"), url("../fonts/FranklinGothic-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url("../fonts/FranklinGothic-Demi.woff2") format("woff2"), url("../fonts/FranklinGothic-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin GothicH';
  src: url("../fonts/FranklinGothic-Heavy.woff2") format("woff2"), url("../fonts/FranklinGothic-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin GothicM';
  src: url("../fonts/FranklinGothic-Medium.woff2") format("woff2"), url("../fonts/FranklinGothic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic BookI';
  src: url("../fonts/FranklinGothic-BookItalic.woff2") format("woff2"), url("../fonts/FranklinGothic-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Franklin GothicMI';
  src: url("../fonts/FranklinGothic-MediumItalic.woff2") format("woff2"), url("../fonts/FranklinGothic-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit;
}

header *,
footer *,
section * {
  padding: 0;
  margin: 0;
  list-style: none;
}

*:focus {
  outline: none;
}

li {
  list-style-type: none;
}

input, button, textarea {
  border-radius: 0px;
}

body {
  margin: 0;
  font-size: 18px;
  color: #414141;
  font-family: "Franklin Gothic Book";
}

h1, h2, h3, h4, h5 {
  font-family: "Franklin Gothic Demi";
}

a {
  color: #414141;
  text-decoration: none;
  line-height: normal;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.col--phone {
  position: relative;
  padding: 0 0 0 28px;
}
.col--phone:before {
  content: "\f095";
  font-family: 'FontAwesome';
  color: #ff1922;
  position: absolute;
  left: 0;
  top: 4px;
}
.col--phone a {
  pointer-events: none;
}

.col--email {
  position: relative;
  padding: 0 0 0 28px;
}
.col--email:before {
  content: "\f0e0";
  font-family: 'FontAwesome';
  color: #ff1922;
  position: absolute;
  left: 0;
  top: 4px;
}
.col--email:hover {
  color: #ff1922;
}

h2 {
  font-size: 40px;
  margin: 0 0 45px 0;
  text-align: center;
  line-height: 1;
}

.btn {
  border: 2px solid #000;
  padding: 14px 55px;
  border-radius: 40px;
  line-height: 1;
  display: table;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

.col--address {
  position: relative;
  padding: 0 0 0 28px;
}
.col--address:before {
  content: "\f041";
  font-family: 'FontAwesome';
  color: #ff1922;
  position: absolute;
  left: 0;
  top: 4px;
}

.inner-header {
  background-color: #373737;
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  resize: none;
  font-size: 18px;
  font-family: "Franklin Gothic Book";
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
  color: #b0b0b0;
}

input[type="submit"] {
  background-color: #fff;
  font-size: 18px;
  font-family: "Franklin Gothic Book";
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  body {
    padding-top: 80px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 540px) {
  h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 400px) {
  h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 350px) {
  h2 {
    font-size: 24px;
  }

  .btn {
    padding: 10px 35px;
  }
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  z-index: 1;
}
header > .container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  height: 100%;
}
header > .container .logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}
header > .container .header-right .top {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  padding: 30px 0;
}
header > .container .header-right .top .langs {
  margin-right: 50px;
  position: relative;
  padding-right: 15px;
}
header > .container .header-right .top .langs ul {
  display: none;
  position: absolute;
}
header > .container .header-right .top .langs ul li a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
header > .container .header-right .top .langs ul li a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}
header > .container .header-right .top .langs .more--btn {
  position: absolute;
  font-family: 'FontAwesome';
  right: 0;
  top: -2px;
  color: #fff;
}
header > .container .header-right .top .langs .more--btn:after {
  content: "\f0dd";
}
header > .container .header-right .top .col--email {
  color: #fff;
  font-family: "Franklin GothicM";
  font-weight: 500;
  font-size: 16px;
  margin-right: 45px;
}
header > .container .header-right .top .col--phone ul {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
header > .container .header-right .top .col--phone ul li {
  position: relative;
}
header > .container .header-right .top .col--phone ul li:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}
header > .container .header-right .top .col--phone ul li:last-child:after {
  display: none;
}
header > .container .header-right .top .col--phone ul li a {
  color: #fff;
  font-family: "Franklin GothicM";
  font-weight: 500;
  font-size: 16px;
  padding: 0 10px;
}
header > .container .header-right .nav > ul {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
header > .container .header-right .nav > ul > li > a {
  display: block;
  padding: 0 12px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Franklin GothicM";
  font-weight: 500;
}
header > .container .header-right .nav > ul > li > a:hover {
  color: #ff1921;
}
header > .container .header-right .nav > ul > li.active a {
  color: #ff1921;
}
header > .container .nav--btn {
  display: none;
}
header > .container .phone--btn {
  display: none;
}
@media screen and (max-width: 991px) {
  header {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    background-color: #373737;
    height: 80px;
    z-index: 9;
  }
  header .container {
    height: 80px;
  }
  header .container .logo {
    position: fixed;
    right: 0;
    top: 5px;
    left: 0;
    margin: 0 auto;
    width: 70px;
  }
  header .container .nav--btn {
    display: block;
    position: absolute;
    width: 35px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 10px;
  }
  header .container .nav--btn span {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 3px;
    background-color: #fff;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }
  header .container .nav--btn span:nth-of-type(2) {
    top: 8px;
  }
  header .container .nav--btn span:nth-of-type(3) {
    top: 16px;
  }
  header .container .nav--btn.open span:nth-of-type(2) {
    display: none;
  }
  header .container .nav--btn.open span:nth-of-type(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px;
  }
  header .container .nav--btn.open span:nth-of-type(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 8px;
  }
  header .container .phone--btn {
    display: block;
    position: absolute;
    right: 20px;
    color: #ff1921;
    font-family: 'FontAwesome';
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  header .container .phone--btn:after {
    content: "\f095";
  }
  header .container .header-right .top .langs {
    position: absolute !important;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  header .container .header-right .top .col--email {
    display: none;
  }
  header .container .header-right .top .col--phone {
    display: none;
    background-color: #ff1921;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
  }
  header .container .header-right .top .col--phone ul {
    display: block;
    text-align: center;
    padding: 20px 0;
  }
  header .container .header-right .top .col--phone ul li:after {
    display: none;
  }
  header .container .header-right .nav {
    display: none;
    position: fixed;
    top: 80px;
    background-color: #373737;
    right: 0;
    left: 0;
    max-height: calc(100% - 80px);
    padding: 20px;
    border-bottom: 1px solid #ff1921;
    border-top: 1px solid #ff1921;
    z-index: 2;
  }
  header .container .header-right .nav > ul {
    display: block;
  }
  header .container .header-right .nav > ul > li > a {
    padding: 10px 0;
  }
}

section .slider .slick-slide {
  position: relative;
}
section .slider .slick-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  z-index: -1;
}
section .slider .slick-slide:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
section .slider .slick-slide .slider--text {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 0 15px;
  z-index: 1;
}
section .slider .slick-slide .slider--text h3 {
  color: #fff;
  font-size: 46px;
  text-transform: uppercase;
  font-family: "Franklin GothicM";
  font-weight: 500;
}
section .slider .slick-dots {
  bottom: 50px;
}
section .slider .slick-dots li button {
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 100%;
  transition: 300ms;
}
section .slider .slick-dots li button:before {
  display: none;
}
section .slider .slick-dots li button:hover {
  border: 5px solid #ff1922;
}
section .slider .slick-dots li.slick-active button {
  border: 5px solid #ff1922;
}
@media screen and (max-width: 1300px) {
  section .slider .slick-slide .slider--text h3 {
    font-size: 38px;
  }
}
@media screen and (max-width: 1200px) {
  section .slider .slick-slide .slider--text h3 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1090px) {
  section .slider .slick-slide .slider--text h3 {
    font-size: 28px;
  }
}
@media screen and (max-width: 991px) {
  section .slider .slick-slide .slider--text h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 850px) {
  section .slider .slick-slide {
    height: 350px;
  }
  section .slider .slick-slide .slider--text h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 640px) {
  section .slider .slick-slide {
    height: 300px;
  }
  section .slider .slick-slide .slider--text h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  section .slider .slick-slide {
    height: 250px;
  }
  section .slider .slick-slide .slider--text h3 {
    font-size: 18px;
  }
  section .slider .slick-dots {
    bottom: 20px;
  }
  section .slider .slick-dots li button {
    border: 3px solid #fff;
    width: 7px;
    height: 7px;
  }
  section .slider .slick-dots li.slick-active button {
    border: 3px solid #ff1922;
  }
}
section .slick-dotted.slick-slider {
  margin-bottom: 0;
}
section .page {
  padding-bottom: 100px;
}
@media screen and (max-width: 991px) {
  section .page {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  section .page {
    padding-bottom: 25px;
  }
}
section .page .about {
  padding: 100px 0 100px 0;
}
section .page .about .container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
}
section .page .about .container .about-left {
  width: calc(50% - 35px);
  width: -webkit-calc(50% - 35px);
  width: -moz-calc(50% - 35px);
  width: -ms-calc(50% - 35px);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
section .page .about .container .about-left .about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}
section .page .about .container .about-left .handshake {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  display: block;
}
section .page .about .container .about-left:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  opacity: 0.3;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 1;
}
section .page .about .container .about-left:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 2;
}
section .page .about .container .about-right {
  width: calc(50% - 35px);
  width: -webkit-calc(50% - 35px);
  width: -moz-calc(50% - 35px);
  width: -ms-calc(50% - 35px);
  padding: 40px 0 50px 0;
}
section .page .about .container .about-right h2 {
  text-align: left;
}
section .page .about .container .about-right p {
  line-height: 1.2;
}
section .page .about .container .about-right .btn {
  margin-top: 40px;
}
@media screen and (max-width: 1040px) {
  section .page .about {
    padding: 60px 0 60px 0;
  }
}
@media screen and (max-width: 991px) {
  section .page .about {
    padding: 40px 0 40px 0;
  }
}
@media screen and (max-width: 800px) {
  section .page .about .container .about-left {
    width: calc(50% - 20px);
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -ms-calc(50% - 20px);
  }
  section .page .about .container .about-right {
    width: calc(50% - 20px);
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -ms-calc(50% - 20px);
    padding: 20px 0 25px 0;
  }
}
@media screen and (max-width: 640px) {
  section .page .about .container {
    display: block;
  }
  section .page .about .container .about-left {
    width: 100%;
    height: 341px;
  }
  section .page .about .container .about-right {
    width: 100%;
    padding: 20px 0 5px 0;
  }
}
@media screen and (max-width: 400px) {
  section .page .about {
    padding: 25px 0 25px 0;
  }
  section .page .about .container .about-left {
    height: 220px;
  }
  section .page .about .container .about-right .btn {
    margin-top: 20px;
  }
}
section .services {
  padding: 95px 0 100px 0;
  background: url(../img/services-bg.png) no-repeat center center;
}
section .services .services-list {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  margin: -10px 0;
}
section .services .services-list .services_block {
  width: calc(50% - 20px);
  width: -webkit-calc(50% - 20px);
  width: -moz-calc(50% - 20px);
  width: -ms-calc(50% - 20px);
  border-radius: 10px;
  position: relative;
  margin: 20px 0;
  height: 350px;
  overflow: hidden;
}
section .services .services-list .services_block > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  z-index: -1;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
section .services .services-list .services_block:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
section .services .services-list .services_block .services--text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
  left: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  z-index: 1;
  padding: 0 25px;
}
section .services .services-list .services_block .services--text h5 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Franklin GothicM";
  font-weight: 500;
}
section .services .services-list .services_block:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 2;
}
section .services .services-list .services_block:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media screen and (max-width: 1040px) {
  section .services {
    padding: 60px 0 60px 0;
  }
}
@media screen and (max-width: 991px) {
  section .services {
    padding: 40px 0 40px 0;
  }
}
@media screen and (max-width: 768px) {
  section .services {
    padding: 40px 0 40px 0;
  }
  section .services .services-list .services_block .services--text h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  section .services {
    padding: 40px 0 40px 0;
  }
  section .services .services-list .services_block {
    width: 100%;
  }
  section .services .services-list .services_block .services--text h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  section .services {
    padding: 25px 0 25px 0;
  }
  section .services .services-list .services_block .services--text h5 {
    font-size: 14px;
  }
}
section .advantages {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
section .advantages .adv-left {
  background-color: #373737;
  width: 50%;
}
section .advantages .adv-left .number-list {
  width: 46%;
  margin-right: 120px;
  float: right;
  counter-reset: numberedList;
  padding: 57px 0;
}
section .advantages .adv-left .number-list li {
  color: #d3d3d3;
  counter-increment: numberedList;
  font-size: 20px;
  font-family: "Franklin GothicM";
  font-weight: 500;
  padding: 20px 0 20px 0;
  height: 130px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  position: relative;
}
section .advantages .adv-left .number-list li:before {
  content: counter(numberedList) ". ";
  position: relative;
  color: #ff767a;
  font-size: 60px;
  display: table;
  font-family: "Franklin Gothic Book";
  padding-right: 15px;
}
section .advantages .adv-left .number-list li:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: 1px solid #737373;
}
section .advantages .adv-left .number-list li:last-child:after {
  display: none;
}
section .advantages .adv-right {
  position: relative;
  width: 50%;
}
section .advantages .adv-right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}
section .advantages .adv-right:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  opacity: 0.3;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 1;
}
section .advantages .adv-right:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 2;
}
@media screen and (max-width: 1440px) {
  section .advantages .adv-left .number-list {
    width: 60%;
  }
}
@media screen and (max-width: 1100px) {
  section .advantages .adv-left .number-list {
    width: 70%;
  }
}
@media screen and (max-width: 990px) {
  section .advantages .adv-left .number-list {
    width: 90%;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  section .advantages .adv-left {
    padding: 0 15px;
  }
  section .advantages .adv-left .number-list {
    padding: 10px 0;
  }
  section .advantages .adv-left .number-list li {
    font-size: 16px;
  }
  section .advantages .adv-left .number-list li:before {
    font-size: 50px;
  }
}
@media screen and (max-width: 540px) {
  section .advantages {
    display: block;
  }
  section .advantages .adv-left {
    width: 100%;
  }
  section .advantages .adv-left .number-list {
    float: none;
  }
  section .advantages .adv-right {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  section .advantages .adv-left .number-list li:before {
    font-size: 42px;
  }
}
section .partners {
  padding: 100px 0 0 0;
}
section .partners .partners-slider .slick-track {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
}
section .partners .partners-slider .slick-slide {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
}
section .partners .partners-slider .slick-list {
  margin-bottom: 45px;
}
section .partners .partners-slider .slick-dots {
  position: relative;
  bottom: 0;
}
section .partners .partners-slider .slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 5px solid #eae8e8;
}
section .partners .partners-slider .slick-dots li button:hover {
  border: 5px solid #ff1922;
}
section .partners .partners-slider .slick-dots li button:before {
  display: none;
}
section .partners .partners-slider .slick-dots li.slick-active button {
  border: 5px solid #ff1922;
}
@media screen and (max-width: 991px) {
  section .partners {
    padding: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  section .partners {
    padding: 40px 0;
  }
}
@media screen and (max-width: 400px) {
  section .partners {
    padding: 25px 0;
  }
  section .partners .partners-slider .slick-list {
    margin-bottom: 0;
  }
  section .partners .partners-slider .slick-dots li button {
    width: 7px;
    height: 7px;
    border: 3px solid #eae8e8;
  }
  section .partners .partners-slider .slick-dots li.slick-active button {
    border: 3px solid #ff1921;
  }
}
section .bread {
  padding: 17px 0;
  background-color: #f2f2f2;
}
section .bread ul {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
section .bread ul li {
  color: #ff1922;
  padding: 0 15px;
}
section .bread ul li a {
  position: relative;
}
section .bread ul li a:hover {
  color: #ff1922;
}
section .bread ul li a:after {
  content: "\f0da";
  font-family: 'FontAwesome';
  top: 2px;
  position: absolute;
  right: -18px;
}
section .contacts {
  padding: 80px 0 0 0;
}
section .contacts .container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
section .contacts .container #map {
  width: 650px;
  height: 695px;
}
section .contacts .container .contacts-right {
  margin-left: 30px;
}
section .contacts .container .contacts-right .data {
  padding: 30px 0 35px 0;
  border-bottom: 1px solid #414141;
}
section .contacts .container .contacts-right .data li {
  padding: 2px 0;
  line-height: 1;
}
section .contacts .container .contacts-right h3 {
  font-size: 18px;
  text-transform: uppercase;
  padding: 35px 0 25px 0;
  line-height: 1;
}
section .contacts .container .contacts-right .col--phone {
  margin: 15px 0;
}
section .contacts .container .contacts-right .col--phone li {
  padding: 3px 0;
}
section .contacts .container .contacts-right .col--address p {
  line-height: 1.2;
}
section .contacts .container .contacts-right form {
  width: 455px;
}
section .contacts .container .contacts-right form input[type="text"],
section .contacts .container .contacts-right form input[type="email"],
section .contacts .container .contacts-right form input[type="password"],
section .contacts .container .contacts-right form textarea {
  margin: 10px 0;
}
section .contacts .container .contacts-right form input[type="text"]::placeholder,
section .contacts .container .contacts-right form input[type="email"]::placeholder,
section .contacts .container .contacts-right form input[type="password"]::placeholder,
section .contacts .container .contacts-right form textarea::placeholder {
  color: #b0b0b0;
}
section .contacts .container .contacts-right form textarea {
  padding: 10px 0 10px 20px;
}
section .contacts .container .contacts-right form input[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  section .contacts {
    padding: 40px 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  section .contacts {
    padding: 30px 0 0 0;
  }
  section .contacts .container {
    display: block;
  }
  section .contacts .container #map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }
  section .contacts .container .contacts-right {
    padding: 20px 0;
    margin-left: 0;
  }
  section .contacts .container .contacts-right h3 {
    padding: 20px 0 20px 0;
  }
  section .contacts .container .contacts-right form {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  section .contacts {
    padding: 20px 0 0 0;
  }
  section .contacts .container #map {
    height: 200px;
  }
  section .contacts .contacts-right .g-recaptcha {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform-origin: 0;
  }
}

footer .footer-top {
  background-color: #f2f2f2;
  padding: 60px 0 50px 0;
}
footer .footer-top .container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
}
footer .footer-top .container .logo {
  display: block;
}
footer .footer-top .container .logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  display: block;
}
footer .footer-top .container h3 {
  font-size: 18px;
  font-family: "Franklin GothicM";
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .footer-top .container ul li {
  padding: 10px 0;
  line-height: 1;
}
footer .footer-top .container ul li a:hover {
  color: #ff1922;
}
footer .footer-top .container ul li.active a {
  color: #ff1922;
}
footer .footer-top .container p {
  line-height: 1.2;
}
footer .footer-top .container .footer-services {
  margin-left: 80px;
}
footer .footer-top .container .footer-hts {
  margin-left: 165px;
}
footer .footer-top .container .footer-hts .col--phone {
  margin: 18px 0;
}
footer .footer-top .container .footer-hts .col--phone ul li {
  padding: 5px 0;
}
footer .footer-top .container .footer-nav {
  margin-left: 90px;
}
footer .footer-bottom {
  background-color: #d1d1d1;
  padding: 25px 0 27px 0;
}
footer .footer-bottom .container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .container p {
  font-size: 16px;
  color: #808080;
}
footer .footer-bottom .container .artmedia {
  position: relative;
  padding-right: 130px;
  color: #808080;
  font-size: 16px;
}
footer .footer-bottom .container .artmedia > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
}
@media screen and (max-width: 990px) {
  footer .footer-top .container .footer-services {
    margin-left: 20px;
  }
  footer .footer-top .container .footer-hts {
    margin-left: 20px;
  }
  footer .footer-top .container .footer-nav {
    margin-left: 20px;
  }
}
@media screen and (max-width: 700px) {
  footer .footer-top .container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-bottom .container {
    display: block;
    text-align: center;
  }
  footer .footer-bottom .container p {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 540px) {
  footer .footer-top {
    padding: 20px 0 20px 0;
  }
  footer .footer-top .container .logo {
    width: 100px;
  }
  footer .footer-top .container h3 {
    margin-bottom: 10px;
  }
  footer .footer-top .container ul li {
    padding: 5px 0;
  }
  footer .footer-top .container .footer-services {
    display: none;
  }
  footer .footer-top .container .footer-hts {
    margin-left: 0;
  }
  footer .footer-top .container .footer-hts .col--phone {
    margin: 7px 0;
  }
}

/* MODAL */
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal .modal__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal .modal__block {
  max-width: 420px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.modal .modal__block .mini-title {
  text-align: center;
}
.modal .modal__block input[type="text"],
.modal .modal__block input[type="email"] {
  width: 100%;
}
.modal .modal__block input[type="text"],
.modal .modal__block input[type="email"],
.modal .modal__block input[type="search"],
.modal .modal__block input[type="password"],
.modal .modal__block textarea {
  min-height: 50px;
  margin-bottom: 20px;
  padding: 20px 0 20px 20px;
}
.modal .modal__block .close {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
}
.modal .modal__block .close:after, .modal .modal__block .close:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #1e2248;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms;
}
.modal .modal__block .close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
.modal .modal__block .close:hover:before {
  -webkit-transform: translateY(-50%) rotate(135deg);
  -moz-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
}
.modal .modal__block .close:hover:after {
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}
.modal .modal__block .g-recaptcha {
  float: right;
  width: 304px;
  height: 78px;
}
.modal .modal__block input[type="submit"] {
  float: right;
  margin-top: 20px;
  padding: 15px 40px;
}
@media screen and (max-width: 540px) {
  .modal .modal__block {
    margin: 0 20px;
  }
  .modal .modal__block .g-recaptcha {
    transform: scale(0.8) !important;
    transform-origin: 100%;
  }
  .modal .modal__block input[type="text"],
  .modal .modal__block input[type="email"],
  .modal .modal__block input[type="search"],
  .modal .modal__block input[type="password"],
  .modal .modal__block textarea {
    padding: 8px 0 8px 20px;
    font-size: 14px;
  }
  .modal .modal__block input[type="submit"] {
    padding: 10px 35px;
    font-size: 14px;
  }
}

/* ****modal btn */
.open--modal {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 85px;
  bottom: 80px;
  background-color: #ff1922;
  color: #fff;
  font-size: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.open--modal i {
  display: block;
}
.open--modal:before {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  border: 2px solid #ff1922;
  border-radius: 100%;
  animation-name: rect1;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-delay: .4s;
}
.open--modal:after {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  border: 2px solid #ff1922;
  border-radius: 100%;
  animation-name: rect2;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-delay: .4s;
}
@media screen and (max-width: 540px) {
  .open--modal {
    width: 40px;
    height: 40px;
    font-size: 22px;
    right: 20px;
    bottom: 30px;
  }
}

@keyframes rect1 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes rect2 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 95px;
  width: 30px;
  height: 30px;
  z-index: 9;
  background-color: #ff1922;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.back-to-top.show {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .back-to-top {
    display: none;
  }
}

/* ***╨▓╨╜╤Г╤В╤А╨╡╨╜╨╜╨╕╨╡ */
.page p {
  margin: 10px 0;
}

.page .news1 .date,
.page .news .date {
  color: #ff1922;
  margin-bottom: 10px;
}

.page .news1 .name a:hover {
  color: #ff1922;
}

.page .page_nav .active {
  color: #ff1922;
}

.page #ask-form {
  max-width: 350px;
}

.page #ask-form .btn {
  padding: 20px 40px;
}

.page .write {
  color: #ff1922;
  text-decoration: none;
}

.page .write:hover {
  text-decoration: underline;
}

.page .back_link {
  margin: 25px 0;
}

.page .back_link:hover {
  border-bottom: 1px solid  #ff1922;
}

.page .rev__a {
  color: #ff1922;
}

@media screen and (max-width: 1170px) {
  .page {
    font-size: 16px;
  }

  .page #photos-list td img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .page p img,
  .page p strong img {
    width: 100% !important;
    height: auto !important;
    display: block !important;
    float: none !important;
    margin: 0 0 10px 0 !important;
  }

  .page #photos-list td {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}
