
$regular: 'Franklin Gothic Book';
$bold: 'Franklin Gothic Demi';
$medium: 'Franklin GothicM';
$italic: 'Franklin Gothic BookI';
$heavy: 'Franklin GothicH';
$boldI: 'Franklin Gothic DemiI';
$heavyI: 'Franklin GothicHI';
$mediumI: 'Franklin GothicMI';